<!DOCTYPE html>
<html>
  <head>
    <title>RailsWatchList</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <nav class="navbar bg-light">
      <%= link_to lists_path do %>
        <i class="fa-solid fa-film ml-auto m-3"></i>
      <% end %>
      <h4 class="ml-auto"> Watch List </h4>
      <%= link_to "New List", new_list_path, class: "btn btn-primary mr-auto m-3" %>
    </nav>
    <%= yield %>
  </body>
</html>
